<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
</head>

<body>
	<div id = "inicio">
		<div style="width: 100%; display: table;">
    	<div style="display: table-row">

		<div id="cadastro" class="container-fluid col col-sm-6 col-md-6 col-lg-6 col-xl-6" style="width: 600px; display: table-cell;">
	 		<form>
				<h2> Cadastro de Funcionários</h2>
				<br>
				<div>
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nomeFuncionario" v-model="funcionario.nome"/>
				</div>
				<div>
					<label for="setor">Selecione o Setor</label>
					<select class="custom-select form-control" v-model="funcionario.setor">
							<option v-for="setor in listaSetores" :value="setor">
								{{setor.nome}} </option>
					</select>
				</div>
				<div>
					<label for="salario">Salário</label>
					<input type="text" class="form-control" id="salario" v-model="funcionario.salario"/>
				</div>
				<div>
					<label for="email">Email</label>
					<input type="text" class="form-control" id="email" v-model="funcionario.email"/>
				</div>
				<div>
					<label for="idade">Idade</label>
					<input type="text" class="form-control" id="idade" v-model="funcionario.idade"/>
				</div>

				<br>

				<div>
					<button type="submit" class="btn btn-outline-secondary btn-lg btn-block" @click="cadastrar()" v-if="!editando">Cadastrar
					</button>
				</div>
				
				<div>

					<button type="submit" class="btn btn-outline-secondary btn-lg btn-block" @click="salvar()" v-if="editando">Alterar
					</button>
				</div>
			</form>
		</div>

		<div id = "setor" class="container-fluid col col-sm-6 col-md-6 col-lg-6 col-xl-6" style="display: table-cell;">
			<form>
				<h2>Cadastro de Setor</h2>
				<br>
				<div>
					<label for="nomesetor">Nome</label>
					<input type="text" class="form-control" id="nomeSetor" v-model="setor.nome"/>
				</div>

				<br>

				<div>
					<button type="submit" class="btn-outline-secondary btn-lg btn-block" @click="cadastrarSetor()">Cadastrar
					</button>
				</div>
			</form>
		</div>
		</div>
		</div>

		<br><br>
		<div id="lista" class="rcontainer-fluid table" >

		<h4 align="center">Lista dos Funcionários</h4>
		<table class="table">
		  <tr>
			<th>Nome</th>
			<th>Setor</th>
			<th>Salário</th>
			<th>Email</th>
			<th>Idade</th>
			<th></th>
			<th></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="funcionario in listaProdutos">
			  <td>{{ funcionario.nome }}</td> 
			  <td>{{ funcionario.setor.nome }}</td> 
			  <td>{{ funcionario.salario }}</td> 
			  <td>{{ funcionario.email }}</td> 
			  <td>{{ funcionario.idade }}</td>
			  <td>
				<button type="submit" class="btn btn-outline-dark" @click="deletar(funcionario.id)">
					<i class="far fa-trash-alt"></i>
				</button>
				</td>
				<td>
					<button type="submit" class="btn btn-outline-dark" @click="editar(funcionario.id)">
					<i class="far fa-edit"></i>
					</button>
				</td>
			</tr>
		  </tbody>
		</table>
	  </div>
</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/index.js"></script>

</body>
</html>